<h1>New thread</h1>

<% form_for(@thread) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :forum_id %><br />
    <%= f.text_field :forum_id %>
  </p>
  <p>
    <%= f.label :thread %><br />
    <%= f.text_field :thread %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', threads_path %>